.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#quote-box{
  background-color: white;
  border-radius: 10px;
  color: black; /*color of the font*/
  padding: 25px;
  width: 450px;
}
#text{
  margin-bottom: 0px;
}

#text #quote-icon{
  margin-right: 10px;
}


#author{
  margin-top: 0;
  text-align: end;
  font-size: 10px;
}

.author_animated{
  margin-top: 0;
  text-align: end;
  font-size: 10px;
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example{
  from{opacity: 0;}
  to{opacity: 1;}
}



.buttons{
  display: flex;
  justify-content: space-between;
  min-height: 50px;
}

.buttons #tweet-quote{
  display: flex;
  color:white;
  padding: 10px;
  text-decoration: none;
  border-radius: 10px;
  align-self: center;
  justify-content: center;
}

.buttons #new-quote{
  display: inline-block;
  color: white;
  border-radius: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

